.para{
    margin-left: 100px;
}
.resume{
    background-color: cornsilk;
    box-shadow: 0 30px 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    
}

.gender{
    margin-left: 30px;
}

.language{
    margin-left: 30px;
}

.commonFont{
    font-family: 'Times New Roman', Times, serif;
}
#showInformation{
    display: block;
}

#btn{
    padding: 50px;
}

#show{
    font-family: Arial, Helvetica, sans-serif;
    display: none;
} 
 
#nameErrorDiv{
    color: red;
}
#fatherNameErrorDiv{
    color: red;
}


#stateErrorDiv{
    color: red;
}
#emailErrorDiv{
    color: red;
}
#ageErrorDiv{
    color: red;
}
#contactErrorDiv{
    color: red;
}
#nationalityErrorDiv{
    color: red;
}

#maritalStatusErrorDiv{
    color: red;
}
#tenthErrorDiv{
    color: red;
}

#twelthErrorDiv{
    color: red;
}
#graduationErrorDiv{
    color: red;
}

#genderErrorDiv{
    color: red;
}